# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy==1.22.4
pandas==1.4.2

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
meteostat==1.6.1
requests

# utilities
six>=1.14
joblib
memoized-property
termcolor

# STEFANO
pyhafas
jupyterlab
folium

#plotting
matplotlib
seaborn

#ML
tensorflow==2.9.1
scikit-learn

# engineering
uvicorn
fastapi

# web
streamlit
